@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
    --white: #fff;
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);
    /* ### Neutral */
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --default-transition: all 0.3s;
}

.principal {
    width: 100%;
    height: 100vh;
    background: var(--Very-dark-blue);
    font-family: 'Rubik', sans-serif;
    display: grid;
    place-items: center;
    color: var(--white);
    font-weight: 300;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 70%;
    min-height: 60%;
    gap: 20px;
}

.data-client {
    height: 100%;
    width: 100%;
    display: grid;
}

.client-perfil {
    grid-row: 1 / 3
}

.data-client-details {
    background: var(--Blue);
    height: 110%;
    border-radius: 10px;
    z-index: 5;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.container-img-profile {
    width: 80px;
    height: 80px;
    border: 3px solid var(--white);
    overflow: hidden;
    border-radius: 50%;
}

.container-texts-profile p {
    font-size: 0.8em;
    color: var(--Pale-Blue);
    line-height: 1.8;
}

.container-texts-profile h1 {
    font-weight: 300;
    overflow-wrap: break-word;
    width: 80%;
    font-size: 2.5vw;
}

.data-client-details-options {
    background: var(--Dark-blue);
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.data-client-details-options ul {
    margin-top: 15%;
    display: grid;
    gap: 10px;
}

.data-client-details-options li {
    color: var(--Desaturated-blue);
    cursor: pointer;
}

.data-client-details-options button {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--Desaturated-blue);
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3vw;
    transition: var(--default-transition);
    text-align: left;
}

.data-client-details-options button:hover {
    color: var(--white);
}

.data-client-details-options button:focus {
    color: var(--white);
    outline: none;
}

.container-img-profile img {
    max-width: 100%;
    object-fit: contain;
}

.container-data-details {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-img {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.content-img {
    align-self: center;
    height: 60px;
    width: 60px;
}

.content-img img {
    width: 100%;
}

.container-data {
    position: absolute;
    background: var(--Dark-blue);
    height: 79%;
    width: 100%;
    border-radius: 10px;
    z-index: 5;
    top: 40px;
    padding: 20px;
    display: grid;
    transition: var(--default-transition);
    cursor: pointer;
}

.container-data:hover {
    background: var(--Desaturated-blue);
}

.content-data {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

.infos-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infos-data p, button {
    font-weight: 400;
    flex: 1;
}

.infos-data button {
    background: none;
    border: none;
    width: 15px;
    display: grid;
    place-items: center end;
}

.infos-data button img {
    max-width: 100%;
    object-fit: contain;
}

.main-data {
    margin: 10px 0;
    font-size: 4vw;
}

.main-data p {
    font-size: 1vw;
    color: var(--Pale-Blue);
}

footer {
    background: var(--Very-dark-blue);
    height: 80px;
    width: 100%;
    
}
footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
    font-weight: 300;
    gap: 0 10px
    
}

footer img {
    width: 20px;
}

@media only screen and (max-width: 992px) {
    .principal {
        height: 100%;
    }
    .content {
        padding: 20px 0;
        width: 90%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .infos-data p {
        font-size: 2.5vw;
    }
    .data-client-details {
        align-items: center;
    }
    .client-perfil {
        grid-row: 1;
    }
    .container-data-details {
        width: 100%;
        height: 250px;
        position: relative;
        cursor: pointer;
    }
    .data-client-details-options ul {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        font-size: 5vw;
    }
    .container-texts-profile h1 {
        width: 100%;
        font-size: 5vw;
    }
    .data-client-details-options button {
        font-size: 5vw;
    }
    .main-data div {
        font-size: 9vw;
    }
    .main-data p {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 592px) {
    .infos-data p {
        font-size: 4vw;
    }
    .main-data div {
        font-size: 15vw;
    }
    .main-data p {
        font-size: 3.5vw;
    }
}